<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
   
    <title>Agena</title>
</head>
<body>
    <div>

        <div>
            <img src="Image.png" alt="" width="130">
            <h4>د افغانســــتان اســــــالمي جمـــــــهوري دولــــــــت </h4>
            <h4>د جمهـــــوري ریاست د چــارو ادار ې لـــوی ریـــاست </h4>
            <h4>معاونیـــــــــــــت انســــــــــــجام امــــــــــور دولــت</h4>
            <h4>ریاست انسـجام امــور شوراهای عـالی ریاســـت جمهوری </h4>
            <br>
            <h3 style="color: #23f;">آجندای جلسه شورای عالی حاکمیت قانون و حکومتداری</h3>
        </div>


<p> 
    <b>
        شماره جلسه: 
    </b>
    نخست سال ۱۴۰۰ ه ش (اختصاصی کمیسیون مبارزه با فساد اداری)
</p>

<p>
    <b>
        تاریخ و زمان :
    </b>
     روز دوشنبه مورخ ۱۴۰۰/۰۲/۰۶
</p>

<li>شروع جلسه با تلاوت آیات از کلام الله مجید: زمان (۲دقیقه)</li>
<li>افتتاح مجلس و صحبت های مقدماتی جلالتمآب رئیس جمهور اسلامی افغانستان</li>
<br>
    </div>

    <div>

        <table id="agenda">
            <tr>
              <th>شماره </th>
              <th>موضوعات</th>
              <th>ارائه کننده گان</th>
              <th>زمان بحث و تصمیم گیری</th>
              <th>دلایل شامل شدن در آجنداء</th>
            </tr>
            <tr>
              <td style="background-color: #0d2061; color:rgb(48, 56, 128)"> ۱</td>
              <td> 
                ستراتیژی ملی مبارزه با فساد اداری
برای سال مالی 1400 
              </td>
              <td>
                رئیس کمیسیون مبارزه
                با فساد اداری
              </td>

              <td>

                <b>
                    ارائه موضوع:
                </b>
                ۰۱ دقیقه
                <b>
                    بحث و تصمیم گیری:
                </b>
                ۱ دقیقه 
              </td>
              <td>
                هدایت مقام عالی ریاست
                جمهوری ا.ا
              </td>
            </tr>
			<tr>
              <td style="background-color: #0d2061; color:white"> ۲</td>
              <td> 
گزارش های تحقیقی نشر شده در رسانه  ها 
              </td>
              <td>
                رئیس کمیسیون مبارزه
                با فساد اداری
              </td>

              <td>

                <b>
                    ارائه موضوع:
                </b>
                ۰۱ دقیقه
                <b>
                    بحث و تصمیم گیری:
                </b>
                ۱۵ دقیقه 
              </td>
              <td>
                هدایت مقام عالی ریاست
                جمهوری ا.ا
              </td>
            </tr>
			<tr>
              <td style="background-color: #0d2061; color:white"> ۳</td>
              <td> 
گزارش تطبیق اقدامات ذکر شده در نامه جلالتمآب رئیس جمهور ا.ا به اداره سیگار
              </td>
              <td>
                رئیس کمیسیون مبارزه
                با فساد اداری
              </td>

              <td>

                <b>
                    ارائه موضوع:
                </b>
                ۰۱ دقیقه
                <b>
                    بحث و تصمیم گیری:
                </b>
                ۱۵ دقیقه 
              </td>
              <td>
                هدایت مقام عالی ریاست
                جمهوری ا.ا
              </td>
            </tr>
        
          </table>

          <div style="border: 1px solid #c2c2c2; margin-top: 10px; padding: 12px;">
              <p>
                  <b>محل تدویر جلسه:</b>
                  قصر ................. ارگ ریاست جمهوری ا.ا
              </p>
              <p>
                  <b>شروع جلسه:</b>
                  ...................
              </p>
              <p>
                  <b> نوت:</b>
                  ساعت و مکان دقیق جلسه به شما ارسال خواهد شد
              </p>

              <p>
                  <b>مجموع زمان جلسه:</b>
                  ۱ ساعت ۱۵ دقیقه
              </p>
              <p>
                  <b>جهت هماهنگی یا معلومات مزید: </b>
              </p>
              <p>شماره های تماس عمومی (۰۲۰۲۱۳۳۷۲۵) و (۰۲۰۲۱۴۳۸۸۲)</p>
              <p>
                  <b>ایمیل:</b>
                <a class="l" href="mailto:councils.coordination@arg.gov.af">councils.coordination@arg.gov.af</a>
              </p>
              <p>شماره تماس شاپور ژمن، رئیس انسجام امور شوراهای عالی ریاست جمهوری 0798343737</p>
          </div>
          
    </div>
</body>
</html>